body {
  margin: 0;
  font-family: 'Roboto', 'Helvetica Neue', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', 'Helvetica Neue', 'Arial', sans-serif;
  font-weight: 500;
}

p, a, button, input, textarea {
  font-family: 'Roboto', 'Helvetica Neue', 'Arial', sans-serif;
  font-weight: 400;
}